

//images frame mixin







// background mixin

@mixin backdrop ($backColor) {
    background-color: $backColor;
    background-image: $backImg;
    size: cover;
}

/*@mixin linkHover ( ) {
    background-color: 
    color: 
    text-decoration: 
    text-shadow: 
}
*/