//variables for MR_port

@import url(http://fonts.googleapis.com/css?family=Amarante|Roboto+Slab);

$beige              : #ffffcc;
$green              :#008f39;
$DarkGreen     :#006600;
$blue                 : #0066CC;


$headfont         : font-family "Amarante", serif;
$bodyfont         : font-family "Roboto Slab", serif;