//variables for MR_port

@import url(http://fonts.googleapis.com/css?family=Amarante|Roboto+Slab);

$beige              : #ffffcc;
$green              :#4C3300;
$darkGreen     :#005200;
$blue                 :#33ADFF;


$headFont      : font-family "Amarante", serif;
$bodyFont      : font-family "Roboto Slab", serif;

$backImg        :url(../images/clean-gray-paper.png);

$txtShadow     : 2px 2px black;