//variables for MR_port

@import url(http://fonts.googleapis.com/css?family=Amarante|Roboto+Slab);

$beige              : #ffffcc;
$green              :#4C3300;
$DarkGreen     :#005200;
$blue                 :#33ADFF;


$headfont         : font-family "Amarante", serif;
$bodyfont         : font-family "Roboto Slab", serif;

$backimg         :url(../images/clean-gray-paper.png);