//MR_port sass file

@import "compass";
@import "compass/reset";
@import "variables";
//@import "mixins";



body {
    background-color: $beige;
background-image: $backimg;
}
h1, h2, h3 {
    font-family: $headfont;
    color: $beige;
}
h4, h5, h6, p, li, a {
    font-family: $bodyfont;
}
h2 {
    font-size: 2.5em;
    @media(max-width: 720px) {
        font-size: 2em;
    }
}
p {
    font-size: 1em;
    line-height: 1.5;
    color: black;
    margin: 20px;
}
a {
    color: $blue;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
.top {
    background-color: $DarkGreen;
background-image: $backimg;
border-bottom: 2px solid black;
//position: fixed;
//z-index: 2;
width: 100%;
height: 100px;
}
.navbar {
    background-color: transparent;
    //background-image: url(http://www.transparenttextures.com/patterns/clean-gray-paper.png);
    border: none;
}
.nav {
    li {
        font-size: 1.7em;
        text-shadow: 1px 1px black;
        text-align: center;
        width:16.5%;
        font-weight: bold;
        @media(max-width: 950px) {
        font-size: 1.3em;  
        width: 17.4%;  
        }
        a {
            color: $beige;
        }
        a:hover {
            background-color: $beige;
            color: $green;
            text-shadow: none;
        }
    }
}
.nav-menu-small {
    font-size: 3.8em;
    font-weight: bold;
    text-shadow: 2px 2px black;
    color: $blue;
    font-family: $bodyfont;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}
.mini {
    background-color: black;
    background-image: $backimg;
    ul {
        display: block;
        li {
            width: 100%;
        }
        #mattray {
            display: none;
        }
    }
}
.menuButton {
    background-color: black;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}
#second {
    margin-right: 28.2%;
}
#mattray {
    width: 33%;
    @media(max-width: 950px) {
        width: 29%;
    }
    .title {
        padding-top: 5px;
        font-size: 2.6em;
        @media(max-width: 950px) {
            font-size: 2.3em;
        }
        text-shadow: 2px 2px black;
        a {
            color: $blue;
        }
        a:hover {
            background-color: transparent;
            color: $blue;
            text-shadow: 2px 2px black;
        }
    }
}
.tagline {
    text-align: center;
    margin: 15px 0 5px 0;
    text-shadow: 2px 2px black;
}
.container {
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: $green;
    background-image: $backimg;
    border-bottom: 2px solid black;
}
#container-bottom {
    padding: 30px 15px;
    min-height: 800px;
    background-color: $beige;
    background-image: $backimg;
    h3 {
        text-align: center;
        color: black;
        font-size: 2em;
        margin:10px;
    }
}
#contentHeading {
    text-align: center;
    color: black;
    margin: 0 0 20px 0;
    font-size: 2.5em;
}
#landscape {
    padding-right: 10px;
    padding-left: 10px;
    background-color: $green;
    background-image: $backimg;
    img {
        border: 6px solid $beige;
    }
}
.semi-circle {
    width: 20px;
    height: 20px;
    background-color: $beige;
    position: relative;
    z-index: 1;
}
#top-left {
    float: left;
    top: 20px;
    border-bottom-right-radius: 20px;
}
#top-right {
    float: right;
    top: 20px;
    border-bottom-left-radius: 20px;
}
#bottom-left {
    float: left;
    top: -20px;
    border-top-right-radius: 20px;
}
#bottom-right {
    float: right;
    top: -20px;
    border-top-left-radius: 20px;
}
.alt-page {
    background-color: $green;
    background-image: $backimg;
}
#current-img {
    border: 2px solid black;
}
.page-head {
    height: 100px;
    background-color: $beige;
    padding-top: 25px;
    margin-top: 20px;
}
.page-title {
    color: black;
    text-align: center;
}
.words {
    margin: 10px 10px;
}
.github {
    padding-bottom: 50px;
}
.future-update {
    color: $blue;
}
.blazepic {
    width: 40%;
    margin: 0 auto;
}
.temporary {
    font-family: $bodyfont;
}
#computer {
    float: left;
}
.about-imgs {
    width: 300px;
    margin: 10px;
    float: right;
    border: 1px solid black;
}
footer {
    height: 25px;
    width: 100%;
    padding: 3px;
    background-color: $DarkGreen;
    background-image: $backimg;
    margin: 0;
    span {
        color: #999;
        font-weight: bold;
        margin: 0 20px;
    }
    .footerleft {
        float: left;
    }
    .footerright {
       float: right;
    }
}